.app {
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* overflow: scroll; */
}

.header,
.footer,
.sticky-footer {
  width: 100vw;
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.footer {
  margin-bottom: 62.3px;
  transition: margin 1s;
}
.footer.marg-up {
  margin-bottom: 124.76px;
}

.sticky-footer {
  position: fixed;
  bottom: 0px;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: auto;
  bottom: 62.46px;
  transition: background-color 1s;
}
.overlay.false {
  pointer-events: all;
  background: rgba(0, 0, 0, 0.64);
}
.overlay.true {
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
}

.accordion .accordion-title {
  padding: 0;
  background: #a60000;
  flex-direction: row-reverse;
}

/* MuiSvgIcon-root override the default css of mui icon */
.MuiSvgIcon-root {
  color: #ffffff;

  margin: 0 8px 0 8px;
}
.accordion-title h1 {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #ffffff;
}
