.betslip-bar {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  background: #333333;
  height: 62.46px;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.betslip-bar .counter {
  background-color: #1eb500;
  height: 31.230777740478516px;
  min-width: 29.0000057220459px;
  width: fit-content;
  border-radius: 50%;
  line-height: 31.230777740478516px;
  text-align: center;
  margin-left: 22px;
  vertical-align: center;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #ffffff;
}

.betslip-bar .counter.value {
  min-width: 64px;
  margin-left: auto;
  margin-right: 22px;
  border-radius: 80px 80px;

  padding: 3.23px 12.69px 4.31px 13px;
}
.betslip-bar h1 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}

.betslip-page {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 100vw;
  bottom: 62.46px;
  height: calc(100% - 62.46px);
  width: calc(100vw - 43px);
  background: #ffffff;
  border: 1px solid;
  border-color: #00000000;
  transition: left 1s, border-color 1s;
  display: flex;
  flex-direction: column;
}

.betslip-page.open {
  border-color: #000000;
  left: 43px;
}

.betslip-page .title {
  height: 46px;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title h1 {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.betslip-page .MuiButtonBase-root {
  height: 35px;
}
.betslip-page .content {
  padding: 18px 12px 8px 15px;
  margin: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.betslip-page .content-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
}

.betslip-page .cta-img {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.content-row span {
  margin-top: -6px;
  padding: 0;
  display: inline-block;
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 500;
  /* font-size: 14px;
  line-height: 50px; */
  /* identical to box height */

  color: #999999;
}

.betslip-page .column {
  margin: 0 10px 0 10px;
  height: 10px;

  display: flex;
  flex-direction: column;
}

.content-row span.bet-selection {
  font-size: 14px;
  color: black;
}
.content-row span.bet-title {
  font-size: 10px;
  margin: 0;
  color: #999999;
}

.content-row h1 {
  margin: 0;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}

.betslip-page .step-img {
  cursor: pointer;
  padding: 0 0 0 6px;
  margin: 0;
  display: inline-block;
}
.betslip-page .line-img {
  padding: 0;
  margin: -5px 0 -5px 15px;
  display: inline-block;
}

.content-row.input-filed {
  margin-top: 25px;
}
input {
  height: 20px;
  width: 50px;
}

.orange-square {
  width: 80%;
  border: 3px solid #e4ab12;
  height: 28px;
  padding-top: 14px;
  margin: 0 auto 0 auto;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: center;

  color: #000000;
}

.delete-icon {
  cursor: pointer;
  color: #7a7a7a;
  margin-left: auto;
  margin-bottom: 60px;
}
.singles-content {
  margin-left: -15px;
  width: calc(100vw - 43px);
  gap: 0;
}
.single {
  padding-bottom: 8px;
  border-bottom: solid 1px black;
}
.single h1,
h2 {
  margin: 0;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;

  color: #000000;
}

.single h1 {
  font-size: 12px;
  font-weight: bolder;
}
