.market-selection {
  width: 428px;
  height: 671px;
  background: #ffffff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.market-accordion {
  width: 100%;
}

.market-accordion .accordion-title {
  padding: 0;
  background: #a60000;
  flex-direction: row-reverse;
}

/* MuiSvgIcon-root override the default css of mui icon */
.MuiSvgIcon-root {
  color: #ffffff;

  margin: 0 8px 0 8px;
}
.accordion-title h1 {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #ffffff;
}
.cta-img {
  margin-left: auto;
  padding-right: 10px;
}
.market-accordion .content {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 15px 10px 15px;
  gap: 10px;
}

.market-accordion .content.row {
  flex-direction: row;
}

.bet-item {
  width: auto;
  cursor: pointer;
  height: 57px;
  background: #d1d1d1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #000000;
}

.content.row .bet-item {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 12px;
  text-align: center;
}

.bet-item p {
  margin: 0;
}
.bet-item.active {
  background-color: #e4ab12;
}
