.market-selection {
  width: 428px;
  height: 671px;
  background: #ffffff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.market-accordion {
  width: 100%;
}

.market-accordion .accordion-title {
  padding: 0;
  background: #a60000;
  flex-direction: row-reverse;
}

/* MuiSvgIcon-root override the default css of mui icon */
.MuiSvgIcon-root {
  color: #ffffff;

  margin: 0 8px 0 8px;
}
.accordion-title h1 {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #ffffff;
}
.cta-img {
  margin-left: auto;
  padding-right: 10px;
}
.market-accordion .content {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  padding: 0 0 13px 0;
}

.bet-item {
  cursor: pointer;
  height: 57px;
  background: #fdf1f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 3px 0 3px 0;
}

.bet-item h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  margin: 0;
  color: #000000;
}
.bet-item p {
  color: #ff0022;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
}

.bet-item.active {
  background-color: #ff0022;
}
.bet-item.active h1 {
  color: white;
}
.bet-item.active p {
  color: white;
}
